<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>route</servlet-name>
    <servlet-class>ru.mbtc.fico3.route.Fico3RouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>route</servlet-name>
    <url-pattern>/Fico3RouteServlet</url-pattern>
  </servlet-mapping>
</web-app>
